<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ReferenceSiteURL" value="http://sit-icollaborate.moe.gov.sg/spimportersc"/>    
    <add key="MasterListTitle" value="Master List"/>
    <add key="RuleListTitle" value="rules"/>
    <add key="EnvironmentDomain" value="schools\"/>
    
    <add key="OICA_Source" value="C:\MOE LN\SPImporter\HRPS XML Files _ password_PFS2021"/>
    <add key="Archive_Destination" value="C:\MOE LN\SPImporter\ConvertedProcessFile"/>
    <add key="LogsLocation" value="C:\MOE LN\SPImporter\Logs"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
