<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IntranetWebSiteURL" value="http://sit-icollaborate.moe.gov.sg"/>
    <add key="iCollaborateWebSiteURL" value="http://sit-icollaborate.moe.gov.sg"/>
    <add key="SubSite" value="Audit"/>
    <add key="Log" value="C:\logs\UserCleanUplog\"/>
	  <add key="ErrorLog" value="C:\logs\UserCleanUplog\"/>
	  <add key="Domain" value="SCHOOLS\"/>
    <add key="EnableDelete" value="0"/>
	  <add key="TestUserAccount" value="schools\slnp_spfarm"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
